@import "tailwindcss";
@font-face {
  font-family: "Good Times";
  src: url("./assets/fonts/GoodTimes.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.font-goodtimes {
  font-family: "Good Times", sans-serif;
}

